* {
    box-sizing: border-box;
}

.main-title {
    display: flex;
    font-size: 9vw;
    color: #86c7a7;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-shadow: 0 10px 7px rgba(0, 0, 0, 0.2), 0 -10px 1px #fff;
    letter-spacing: -3px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.outer-container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    padding-top: 50px;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    height: 600px;
}

.inner-container>div {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.inner-container>div>* {
    flex: 1;
}

.magic-color {
    background-color: black;
}

.button-container,
.misc-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 20px;
    margin-bottom: 10px;
}

.btn-color {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    background: #BDA0BC;
    color: ghostwhite;
}

.btn-shading {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    background: #A1CDA8;
    color: ghostwhite;
}

.btn-erase {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    background: #B5DFCA;
    color: ghostwhite;
}

.btn-size {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    background: #32746D;
    color: ghostwhite;
}

.btn-reset {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    background: #C5E7E2;
    color: ghostwhite;
}